Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2023-11, with the labels that each got.

#196 left right swap bug
  objects/obj_popup/Mouse_50.gml
Labels: bug

#202 unit sizes and select_All fault
  scripts/scr_load_all/scr_load_all.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_move_unit_info/scr_move_unit_info.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: bug

#203 Removed a few duplicate star names
  scripts/scr_star_name/scr_star_name.gml
Labels: bug

#194 specialist search refactor
  objects/obj_controller/Mouse_50.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: rework

#212 scr_bomb_world bug fix and refactor
  scripts/scr_bomb_world/scr_bomb_world.gml
  sprites/spr_gear_apoth/spr_gear_apoth.yy
  sprites/spr_terminator2_colors/spr_terminator2_colors.yy
  sprites/spr_weapon_assca/spr_weapon_assca.yy
  sprites/spr_weapon_blank/spr_weapon_blank.yy
  sprites/spr_weapon_colors/spr_weapon_colors.yy
Labels: bug, rework

#214 veh_ranged doesn't exist bug
  scripts/scr_battle_roster/scr_battle_roster.gml
Labels: bug

#213 Fix no troop combat
  scripts/scr_count_forces/scr_count_forces.gml
  scripts/scr_enemy_ai_e/scr_enemy_ai_e.gml
Labels: bug

#195 fully automate squads
  objects/obj_controller/Mouse_50.gml
  objects/obj_controller/Step_0.gml
  objects/obj_creation_popup/Draw_0.gml
  objects/obj_popup/Mouse_50.gml
  scripts/scr_chapter/scr_chapter.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_load_all/scr_load_all.gml
  scripts/scr_load_decide_loc/scr_load_decide_loc.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_move_unit_info/scr_move_unit_info.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_start_load/scr_start_load.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: new feature

#206 Blood Trial will no longer waste gene-seed if recruitment is halted
  scripts/scr_enemy_ai_e/scr_enemy_ai_e.gml
  scripts/scr_ui_advisors/scr_ui_advisors.gml
Labels: bug
