Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2023-10, with the labels that each got.

#130 Hotfix: deleted logs which caused slow downs
  objects/obj_controller/Alarm_1.gml
Labels: bug

#115 Hidden lairs
  objects/obj_en_fleet/Alarm_1.gml
  objects/obj_star_select/Mouse_50.gml
  objects/obj_star_select/Step_0.gml
  objects/obj_temp_build/Alarm_0.gml
  scripts/scr_enemy_ai_a/scr_enemy_ai_a.gml
  scripts/scr_enemy_ai_e/scr_enemy_ai_e.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_planetary_feature/scr_planetary_feature.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_ui_popup/scr_ui_popup.gml
Labels: bugfix

#125 specialist recruitment changes and refactor
  .DS_Store
  objects/obj_controller/Alarm_1.gml
  objects/obj_controller/Alarm_5.gml
  scripts/.DS_Store
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_convert_to_string/scr_convert_to_string.gml
  scripts/scr_en_weapon/scr_en_weapon.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_move_unit_info/scr_move_unit_info.gml
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_random_marine/scr_random_marine.gml
  scripts/scr_special_view/scr_special_view.gml
Labels: rework

#154 Hot-fix: missing semi colomn crash
  scripts/scr_special_view/scr_special_view.gml
Labels: bugfix

#157 index switch on numeral
  scripts/scr_convert_to_string/scr_convert_to_string.gml
Labels: bugfix

#160 Knife fix
  sprites/spr_weapon_knife/15f324d4-5ee6-404c-b40a-272520fd33e0.png
  sprites/spr_weapon_knife/a831596f-e4cd-4118-ad18-f2af465a48ac.png
  sprites/spr_weapon_knife/af12d744-a2bc-4607-b1e2-2f70da170633.png
  sprites/spr_weapon_knife/c5c496b3-8d87-42ea-9625-89bf253c33d0.png
  sprites/spr_weapon_knife/layers/15f324d4-5ee6-404c-b40a-272520fd33e0/6ab8f83b-92ee-4a14-8be9-e4ce029a2e82.png
  sprites/spr_weapon_knife/layers/a831596f-e4cd-4118-ad18-f2af465a48ac/6ab8f83b-92ee-4a14-8be9-e4ce029a2e82.png
  sprites/spr_weapon_knife/layers/af12d744-a2bc-4607-b1e2-2f70da170633/6ab8f83b-92ee-4a14-8be9-e4ce029a2e82.png
  sprites/spr_weapon_knife/layers/c5c496b3-8d87-42ea-9625-89bf253c33d0/6ab8f83b-92ee-4a14-8be9-e4ce029a2e82.png
  sprites/spr_weapon_knife/spr_weapon_knife.yy
Labels: bugfix

#161 refactor niggle with bombard
  objects/obj_bomb_select/Mouse_56.gml
Labels: bugfix

#131 .DS_Store and VSCode cache folder are now ignored and fix attempt for line endings issues
  .DS_Store
  .gitattributes
  .gitignore
  objects/.DS_Store
  scripts/.DS_Store
  sprites/.DS_Store
  sprites/spr_bionics_arm/.DS_Store
  sprites/spr_bionics_arm/layers/.DS_Store
  sprites/spr_terminator_chap/.DS_Store
  sprites/spr_terminator_chap/layers/.DS_Store
Labels: technical

#133 Upgraded GM to 2023.8.2.106
  ChapterMaster.yyp
Labels: technical

#164 Removed duplicate star names
  scripts/scr_star_name/scr_star_name.gml
Labels: bugfix

#165 add code guidance
  code_guidance.md
Labels: documentation

#166 [made by Frost] disposition system changes with tweaks
  scripts/scr_enemy_ai_a/scr_enemy_ai_a.gml
  scripts/scr_enemy_ai_b/scr_enemy_ai_b.gml
Labels: new feature, rework

#168 bug fix scr_dead_marine
  ChapterMaster.yyp
  objects/obj_fleet/Alarm_0.gml
  objects/obj_ncombat/Alarm_5.gml
  scripts/scr_dead_marines/scr_dead_marines.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_squads/scr_squads.gml
  sprites/spr_weapon_evisc/spr_weapon_evisc.yy
  sprites/spr_weapon_knife/spr_weapon_knife.yy
  sprites/spr_weapon_standard/spr_weapon_standard.yy
  sprites/spr_weapon_thhammer/spr_weapon_thhammer.yy
Labels: bugfix

#176 unit ui
  ChapterMaster.resource_order
  ChapterMaster.yyp
  code_guidance.md
  objects/obj_controller/Alarm_5.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_squad_names/scr_squad_names.gml
  scripts/scr_squad_names/scr_squad_names.yy
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_ui_popup/scr_ui_popup.gml
Labels: bugfix, rework

#178 Wiped out company restock
  objects/obj_popup/Mouse_50.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: bugfix

#177 founding chapter tweaks
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: change request

#183 crash on first view to company screen (bug)
  objects/obj_controller/Step_0.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: bugfix

#184 wrong string bogging saving
  scripts/scr_save/scr_save.gml
Labels: bugfix

#185 fixed disadvantages
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: bugfix

#188 mystery build button
  objects/obj_star_select/Step_0.gml
Labels: bugfix

#187 56 item limit and disappearing specialist heads bug fixes
  objects/obj_controller/Step_0.gml
  objects/obj_popup/Mouse_50.gml
  scripts/scr_add_item/scr_add_item.gml
  scripts/scr_item_count/scr_item_count.gml
Labels: bugfix

#192 Fix final equipment crashes
  objects/obj_popup/Mouse_50.gml
  scripts/scr_item_count/scr_item_count.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_move_unit_info/scr_move_unit_info.gml
  scripts/scr_squads/scr_squads.gml
Labels: bug
