Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2023-12, with the labels that each got.

#230 Update of GUI stuff
  ChapterMaster.resource_order
  ChapterMaster.yyp
  objects/obj_star/Alarm_0.gml
  objects/obj_star/Create_0.gml
  objects/obj_star/Draw_0.gml
  objects/obj_star/Mouse_50.gml
  objects/obj_turn_end/Create_0.gml
  objects/obj_turn_end/Draw_0.gml
  objects/obj_turn_end/Step_0.gml
  rooms/Game/Game.yy
  scripts/UINodeScripts/UINodeScripts.gml
  scripts/scr_zoom/scr_zoom.gml
  sprites/spr_p_name_bg/a11f2334-9852-4e7b-b697-8d03d2b129a2.png
  sprites/spr_p_name_bg/layers/a11f2334-9852-4e7b-b697-8d03d2b129a2/db370ee7-9838-4a55-b76a-d78fe1ce202b.png
  sprites/spr_p_name_bg/spr_p_name_bg.yy
Labels: rework

#222 New Chapter RG
  objects/obj_creation/Create_0.gml
  objects/obj_creation/Draw_0.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: new feature

#234 infinite loop bug (locks up game on turn end)
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_enemy_ai_a/scr_enemy_ai_a.gml
  scripts/scr_enemy_ai_b/scr_enemy_ai_b.gml
  scripts/scr_load_all/scr_load_all.gml
Labels: bug

#240 load all bug
  objects/obj_controller/Mouse_50.gml
Labels: bug

#242 fix: removed duplicate assault cannon in shop for dreadnoughts.
  objects/obj_shop/Create_0.gml
Labels: bug

#233 Promotion black carpace
  objects/obj_controller/Alarm_6.gml
  objects/obj_controller/Mouse_50.gml
  objects/obj_pnunit/Alarm_5.gml
  objects/obj_popup/Create_0.gml
  objects/obj_popup/Draw_0.gml
  objects/obj_popup/Mouse_50.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_apothecary_ship/scr_apothecary_ship.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_enemy_ai_a/scr_enemy_ai_a.gml
  scripts/scr_enemy_ai_b/scr_enemy_ai_b.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_unit_detail_text/scr_unit_detail_text.gml
Labels: new feature, rework

#244 bug fix misnamed reference
  scripts/scr_enemy_ai_c/scr_enemy_ai_c.gml
Labels: bug
