Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2024-01, with the labels that each got.

#191 Refactor weapons and Equipment
  .DS_Store
  ChapterMaster.resource_order
  ChapterMaster.yyp
  JSON_files/.DS_Store
  JSON_files/gear.JSON
  JSON_files/weapons.JSON
  objects/obj_controller/Alarm_5.gml
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Mouse_50.gml
  objects/obj_controller/Step_0.gml
  objects/obj_en_fleet/Alarm_1.gml
  objects/obj_event/Step_0.gml
  objects/obj_ini/Create_0.gml
  objects/obj_main_menu_buttons/Create_0.gml
  objects/obj_mass_equip/Draw_0.gml
  objects/obj_mass_equip/Step_0.gml
  objects/obj_ncombat/Alarm_1.gml
  objects/obj_ncombat/Alarm_2.gml
  objects/obj_pnunit/Alarm_0.gml
  objects/obj_pnunit/Alarm_1.gml
  objects/obj_pnunit/Alarm_3.gml
  objects/obj_pnunit/Alarm_4.gml
  objects/obj_popup/Create_0.gml
  objects/obj_popup/Draw_0.gml
  objects/obj_popup/Mouse_50.gml
  objects/obj_shop/Draw_0.gml
  objects/obj_shop/Step_0.gml
  objects/obj_star_select/Step_0.gml
  scripts/scr_add_artifact/scr_add_artifact.gml
  scripts/scr_add_item/scr_add_item.gml
  scripts/scr_apothecary_ship/scr_apothecary_ship.gml
  scripts/scr_battle_roster/scr_battle_roster.gml
  scripts/scr_check_equip/scr_check_equip.gml
  scripts/scr_clean/scr_clean.gml
  scripts/scr_company_struct/scr_company_struct.gml
  scripts/scr_company_struct/scr_company_struct.yy
  scripts/scr_flavor/scr_flavor.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_item_count/scr_item_count.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_shoot/scr_shoot.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_start_allow/scr_start_allow.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_weapon/scr_weapon.gml
  scripts/scr_weapons_equip/scr_weapons_equip.gml
Labels: rework

#236 Company struct
  ChapterMaster.resource_order
  ChapterMaster.yyp
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Mouse_50.gml
  objects/obj_star_select/Step_0.gml
  scripts/scr_company_struct/scr_company_struct.gml
  scripts/scr_company_struct/scr_company_struct.yy
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: rework

#243 fix: missed target as zero instead of noone in obj_en_fleet.
  objects/obj_en_fleet/Alarm_1.gml
  objects/obj_en_fleet/Create_0.gml
Labels: bug

#245 refactor: zoom and remove redundant was_zoomed
  objects/obj_controller/Create_0.gml
  objects/obj_controller/KeyPress_32.gml
  objects/obj_popup/Mouse_51.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_zoom/scr_zoom.gml
Labels: rework

#247 crusade bug fix, and improvements
  ChapterMaster.resource_order
  ChapterMaster.yyp
  objects/obj_en_fleet/Alarm_1.gml
  objects/obj_ncombat/Alarm_5.gml
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_cheatcode/scr_cheatcode.gml
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_necron_tombs/scr_necron_tombs.gml
  scripts/scr_necron_tombs/scr_necron_tombs.yy
  scripts/scr_planetary_feature/scr_planetary_feature.gml
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_return_ship/scr_return_ship.gml
Labels: bug

#260 bionics fix
  scripts/scr_marine_struct/scr_marine_struct.gml
Labels: bug

#258 corruption change and emissary bug
  objects/obj_controller/Alarm_5.gml
  objects/obj_controller/Mouse_50.gml
  objects/obj_event/Step_0.gml
  objects/obj_ncombat/Alarm_7.gml
  objects/obj_p_assra/Alarm_0.gml
  objects/obj_pnunit/Alarm_6.gml
  objects/obj_popup/Mouse_50.gml
  objects/obj_popup/Step_0.gml
  objects/obj_temp4/Alarm_2.gml
  objects/obj_temp4/Alarm_3.gml
  objects/obj_temp4/Alarm_4.gml
  objects/obj_temp4/Alarm_5.gml
  scripts/scr_add_corruption/scr_add_corruption.gml
  scripts/scr_add_man/scr_add_man.gml
  scripts/scr_civil_roster/scr_civil_roster.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_dead_marines/scr_dead_marines.gml
  scripts/scr_dialogue/scr_dialogue.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_event_dudes/scr_event_dudes.gml
  scripts/scr_event_gossip/scr_event_gossip.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_kill_unit/scr_kill_unit.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_max_marine/scr_max_marine.gml
  scripts/scr_move_unit_info/scr_move_unit_info.gml
  scripts/scr_powers/scr_powers.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_ui_advisors/scr_ui_advisors.gml
Labels: bug, new content

#262 gear not showing in ui equip area
  scripts/scr_weapon/scr_weapon.gml
Labels: bug

#261 fix "gear_weapon_data" arguments
  objects/obj_pnunit/Alarm_1.gml
  objects/obj_popup/Create_0.gml
  objects/obj_shop/Step_0.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_weapon/scr_weapon.gml
  scripts/scr_weapons_equip/scr_weapons_equip.gml
Labels: bug

#259 3 new squads and loadout balancing
  objects/obj_popup/Mouse_50.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_battle_roster/scr_battle_roster.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_squads/scr_squads.gml
Labels: balance, new content

#265 word changes
  objects/obj_drop_select/Draw_0.gml
Labels: bug

#256 boarders overhaul
  objects/obj_controller/Mouse_50.gml
  objects/obj_p_assra/Alarm_0.gml
  objects/obj_p_assra/Step_0.gml
  objects/obj_p_ship/Alarm_0.gml
  objects/obj_popup/Mouse_50.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: rework

#257 Equipment cleanup
  ChapterMaster.resource_order
  ChapterMaster.yyp
  objects/obj_enunit/Alarm_0.gml
  objects/obj_enunit/Alarm_1.gml
  objects/obj_ini/Create_0.gml
  objects/obj_pnunit/Alarm_0.gml
  objects/obj_pnunit/Alarm_1.gml
  objects/obj_pnunit/Alarm_3.gml
  objects/obj_pnunit/Alarm_4.gml
  objects/obj_pnunit/Alarm_5.gml
  objects/obj_pnunit/Alarm_6.gml
  objects/obj_pnunit/Create_0.gml
  scripts/scr_clean/scr_clean.gml
  scripts/scr_flavor/scr_flavor.gml
  scripts/scr_flavor2/scr_flavor2.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_perils_table/scr_perils_table.gml
  scripts/scr_perils_table/scr_perils_table.yy
  scripts/scr_powers/scr_powers.gml
  scripts/scr_shoot/scr_shoot.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: rework
