Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2024-12, with the labels that each got.

#325 ci: Update access key name
  .github/workflows/gamemaker_build.yml
Labels: PR: Chore, PR: CI

#328 fix: Use of safer string interpolation
  objects/obj_popup/Step_0.gml
Labels: PR: Fix

#330 fix: Custom chapter image load error
  scripts/scr_image/scr_image.gml
  scripts/scr_load/scr_load.gml
Labels: PR: Fix

#329 docs: Test addition of a PR template
  .github/pull_request_template.md
Labels: PR: Chore, PR: Docs

#341 ci: Add PR title validation workflow
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-checker.yml
Labels: PR: Chore, PR: CI

#345 fix: Custom role saving
  ChapterMaster.yyp
  objects/obj_creation_popup/Draw_0.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_chapter_random/scr_chapter_random.gml
  scripts/scr_save_chapter/scr_save_chapter.gml
Labels: PR: Fix

#347 fix: Homeworld save/load for custom chapters
  scripts/scr_save_chapter/scr_save_chapter.gml
Labels: PR: Fix

#351 fix: Captains and CM not healing (loop from 1)
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
Labels: PR: Fix

#358 fix: boarder sprites and fleet sprites being wrong
  ChapterMaster.yyp
  datafiles/images/ui/force/10.png
  datafiles/images/ui/force/11.png
  datafiles/images/ui/force/12.png
  datafiles/images/ui/force/13.png
  datafiles/images/ui/force/14.png
  datafiles/images/ui/force/15.png
  datafiles/images/ui/force/2.png
  datafiles/images/ui/force/3.png
  datafiles/images/ui/force/30.png
  datafiles/images/ui/force/4.png
  datafiles/images/ui/force/5.png
  datafiles/images/ui/force/6.png
  datafiles/images/ui/force/7.png
  datafiles/images/ui/force/8.png
  datafiles/images/ui/force/9.png
  objects/obj_p_ship/Draw_0.gml
Labels: PR: Fix, PR: Sprites
