Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2025-08, with the labels that each got.

#952 fix: Combat Log
  scripts/scr_flavor2/scr_flavor2.gml
Labels: Type: Fix, Size: Tiny

#956 ci: release_stable workflow fixing
  .github/workflows/release_stable.yml
Labels: Type: CI, Size: Tiny

#957 ci: More fixing to the stable-release workflow
  .github/workflows/gamemaker_build.yml
Labels: Type: CI, Size: Tiny

#967 docs: Add contributor avatar list to README
  docs/README.md
Labels: Type: Docs, Size: Tiny

#968 docs: Update the 1d6ch wiki link
  docs/README.md
Labels: Type: Docs, Size: Tiny
