Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2025-06, with the labels that each got.

#864 fix: Dead planet ownership defaulting to orks
  scripts/scr_star_ownership/scr_star_ownership.gml
Labels: Type: Fix, Size: Tiny

#877 feat: ARP and enemy weapon changes finalized
  objects/obj_enunit/Alarm_1.gml
  scripts/scr_clean/scr_clean.gml
  scripts/scr_en_weapon/scr_en_weapon.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: Type: Feature, Size: Big, Category: Balance

#884 fix: Add Crozius Arcanum to stockpile of Sieged chapters
  ChapterMaster.yyp
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: Type: Fix, Size: Tiny

#885 ci: Enable old dev release deletion
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Tiny

#886 fix: Remove STC from the planet after sending it to Admech
  objects/obj_ground_mission/Alarm_6.gml
Labels: Type: Fix, Size: Tiny

#887 ci: Update pull_request_template
  .github/pull_request_template.md
Labels: Type: Docs, Type: CI, Size: Tiny

#660 feat: Selling items from the armamentarium
  ChapterMaster.yyp
  objects/obj_shop/Create_0.gml
  objects/obj_shop/Draw_0.gml
  scripts/macros/macros.gml
  sprites/spr_buy_tiny/f686ba29-c495-47b6-96c4-6b5468d59af7.png
  sprites/spr_buy_tiny/layers/f686ba29-c495-47b6-96c4-6b5468d59af7/d98ba5e0-da02-48fb-8024-c2401b6f0f84.png
  sprites/spr_buy_tiny/spr_buy_tiny.yy
  sprites/spr_sell_tiny/f686ba29-c495-47b6-96c4-6b5468d59af7.png
  sprites/spr_sell_tiny/layers/f686ba29-c495-47b6-96c4-6b5468d59af7/d98ba5e0-da02-48fb-8024-c2401b6f0f84.png
  sprites/spr_sell_tiny/spr_sell_tiny.yy
Labels: Type: Feature, Category: Balance, Area: Sprites, Size: Medium

#893 fix: Add stockpiled Servo-arms for Sieged chapters
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: Type: Fix, Size: Tiny
