Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2025-03, with the labels that each got.

#532 ci: Better Pull Request size labels
  .github/srvaroa_labeler.yml
Labels: PR: CI

#533 ci: Proper Pull Request size labels
  .github/srvaroa_labeler.yml
Labels: PR: CI

#534 ci: Auto-labeler updates
  .github/size_labeler.yml
  .github/srvaroa_labeler.yml
  .github/stale_labeler.yml
  .github/workflows/open_labeler.yml
  .github/workflows/stale_labeler.yml
  .github/workflows/sync_labeler.yml
Labels: PR: CI, Size: Tiny

#537 fix: Damage taken when boarding
  objects/obj_p_assra/Step_0.gml
Labels: PR: Fix, Size: Tiny

#540 docs: Add "Player notes" section to the PR template
  .github/pull_request_template.md
Labels: PR: Docs, PR: CI, Size: Tiny

#541 ci: Add "Warning!" size label
  .github/size_labeler.yml
Labels: PR: CI, Size: Tiny

#553 chore: Stop my repo from appearing in error reports
  scripts/scr_log/scr_log.gml
Labels: PR: Chore, Size: Tiny

#560 fix: Forge respects target company
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
Labels: PR: Fix, Size: Tiny

#566 fix: Sternguard Veterans with two melee weapons
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: PR: Fix, Size: Tiny

#567 fix: Bikes listing two bolters
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Fix, Size: Tiny

#565 fix: Double jetpack on the RG CM
  datafiles/main/chapters/9.JSON
Labels: PR: Fix, Size: Tiny

#568 ci: Disable the stale labeler
  .github/workflows/stale_labeler.yml
Labels: PR: CI, Size: Tiny

#564 fix: Reclusium goes beyond 11
  objects/obj_controller/Alarm_5.gml
  objects/obj_controller/Mouse_50.gml
  scripts/scr_controller_helpers/scr_controller_helpers.gml
Labels: PR: Fix, Size: Tiny

#578 feat: More help information
  datafiles/main/help.ini
Labels: PR: Feature, Size: Tiny

#529 docs: Readme file for the players
  ChapterMaster.yyp
  datafiles/README.md
Labels: PR: Docs, Size: Tiny

#583 docs: Minor edits to the PR template
  .github/pull_request_template.md
Labels: PR: Docs, PR: CI, Size: Tiny

#556 feat: Jump packs give a ranged melee attack
  objects/obj_enunit/Alarm_1.gml
  objects/obj_shop/Create_0.gml
  scripts/scr_flavor/scr_flavor.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Feature, PR: Balance, Size: Small

#521 feat: Trait cost tweaks
  objects/obj_creation/Create_0.gml
Labels: PR: Balance, Size: Tiny

#574 feat: Buff sisters of battle
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Feature, PR: Balance, Size: Small

#611 fix: Land Speeder formation and selection on raids
  scripts/scr_drop_select_function/scr_drop_select_function.gml
  scripts/scr_ui_formation_bars/scr_ui_formation_bars.gml
Labels: PR: Fix, Size: Tiny

#610 feat: Unit view edits, new icons, tooltips
  ChapterMaster.yyp
  objects/obj_controller/Step_0.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  sprites/spr_icon_apothecarion/8c420298-afa1-4414-ae6e-dcdf955885f3.png
  sprites/spr_icon_apothecarion/layers/8c420298-afa1-4414-ae6e-dcdf955885f3/1940a4aa-ba4d-49be-861f-76f4068cc53c.png
  sprites/spr_icon_apothecarion/spr_icon_apothecarion.yy
  sprites/spr_icon_ballistic_skill/175bd7b9-849b-46ce-8efe-940114991cfe.png
  sprites/spr_icon_ballistic_skill/layers/175bd7b9-849b-46ce-8efe-940114991cfe/b84342ed-e4b9-4815-a4ea-d68382306a0f.png
  sprites/spr_icon_ballistic_skill/spr_icon_ballistic_skill.yy
  sprites/spr_icon_bionics/4847858a-0725-4a81-831e-e621066a51a0.png
  sprites/spr_icon_bionics/layers/4847858a-0725-4a81-831e-e621066a51a0/b54f1199-11ed-42e0-a11d-e3324888d46f.png
  sprites/spr_icon_bionics/spr_icon_bionics.yy
  sprites/spr_icon_health/bc87ff96-289a-4158-8d2e-07149fb4a405.png
  sprites/spr_icon_health/layers/bc87ff96-289a-4158-8d2e-07149fb4a405/2434f318-8665-42bd-830c-d45bbc4370ac.png
  sprites/spr_icon_health/spr_icon_health.yy
  sprites/spr_icon_iron_halo/45765e6b-00d8-4316-988d-daca2372308f.png
  sprites/spr_icon_iron_halo/layers/45765e6b-00d8-4316-988d-daca2372308f/a161c2c2-a9c9-4ede-8f5f-94a9302a567e.png
  sprites/spr_icon_iron_halo/spr_icon_iron_halo.yy
  sprites/spr_icon_iron_hands/87ee8039-2984-40e8-bacb-57ff8740fd19.png
  sprites/spr_icon_iron_hands/layers/87ee8039-2984-40e8-bacb-57ff8740fd19/265c6011-729b-4dcc-85ef-eadf37c2db48.png
  sprites/spr_icon_iron_hands/spr_icon_iron_hands.yy
  sprites/spr_icon_iron_hands2/3c24869b-4466-4bfe-9253-6ac5b898f203.png
  sprites/spr_icon_iron_hands2/layers/3c24869b-4466-4bfe-9253-6ac5b898f203/eede1a08-4335-4623-b60d-88b668ba055f.png
  sprites/spr_icon_iron_hands2/spr_icon_iron_hands2.yy
  sprites/spr_icon_iron_hands3/372c9370-897b-4991-9628-fd531cc75d05.png
  sprites/spr_icon_iron_hands3/layers/372c9370-897b-4991-9628-fd531cc75d05/d81fa2cd-57e7-4d08-99be-47ebefaae61f.png
  sprites/spr_icon_iron_hands3/spr_icon_iron_hands3.yy
  sprites/spr_icon_librarius/ec084bd7-b124-4b5f-b9e2-ba4a50309829.png
  sprites/spr_icon_librarius/layers/ec084bd7-b124-4b5f-b9e2-ba4a50309829/3d58b50a-bbbf-489a-b1fc-3a67dd7e6559.png
  sprites/spr_icon_librarius/spr_icon_librarius.yy
  sprites/spr_icon_psyker/100d817f-b993-4588-bcf6-a6db6c63e96d.png
  sprites/spr_icon_psyker/layers/100d817f-b993-4588-bcf6-a6db6c63e96d/e1963d6b-a68c-469f-a026-57adc4accc07.png
  sprites/spr_icon_psyker/spr_icon_psyker.yy
  sprites/spr_icon_shield/52d29a79-1164-4e74-a115-73a3753c0552.png
  sprites/spr_icon_shield/layers/52d29a79-1164-4e74-a115-73a3753c0552/9aaff82d-a983-409e-bcc5-d66d6352590d.png
  sprites/spr_icon_shield/spr_icon_shield.yy
  sprites/spr_icon_shield2/8369f543-dbf8-4595-af8c-2ed911ca4cc4.png
  sprites/spr_icon_shield2/layers/8369f543-dbf8-4595-af8c-2ed911ca4cc4/39f16c8e-32d3-4a07-9f4c-6dd959e96bba.png
  sprites/spr_icon_shield2/spr_icon_shield2.yy
  sprites/spr_icon_telepatica/b216b4d3-4604-4d5e-9507-2a70874b7ffa.png
  sprites/spr_icon_telepatica/layers/b216b4d3-4604-4d5e-9507-2a70874b7ffa/de89b174-35e4-42e8-8199-908541a93240.png
  sprites/spr_icon_telepatica/spr_icon_telepatica.yy
  sprites/spr_icon_telepatica2/38c9167a-ee5a-4729-8a71-6963ab98a018.png
  sprites/spr_icon_telepatica2/layers/38c9167a-ee5a-4729-8a71-6963ab98a018/968ae293-815f-480b-a2dd-8b9b39807d11.png
  sprites/spr_icon_telepatica2/spr_icon_telepatica2.yy
  sprites/spr_icon_veteran/6d818433-1ab6-4818-aee1-badbac0b7712.png
  sprites/spr_icon_veteran/layers/6d818433-1ab6-4818-aee1-badbac0b7712/d779bd7a-2b63-48fd-958c-bde4e8d187b7.png
  sprites/spr_icon_veteran/spr_icon_veteran.yy
  sprites/spr_icon_weapon_skill/5507e490-eb5e-4f75-8ab8-b839bdc67871.png
  sprites/spr_icon_weapon_skill/layers/5507e490-eb5e-4f75-8ab8-b839bdc67871/0c4a6405-bf43-4356-ab51-9de9651d11f8.png
  sprites/spr_icon_weapon_skill/spr_icon_weapon_skill.yy
  sprites/spr_icon_weight/9221b377-916e-498d-bc28-a2e999f17843.png
  sprites/spr_icon_weight/layers/9221b377-916e-498d-bc28-a2e999f17843/82bc643c-e334-4d54-bebb-6f62e328db69.png
  sprites/spr_icon_weight/spr_icon_weight.yy
  sprites/spr_icon_wounds/07486fe4-76e6-481f-9ca9-94952463ecb4.png
  sprites/spr_icon_wounds/layers/07486fe4-76e6-481f-9ca9-94952463ecb4/bc224ab1-d602-4d6a-ba0d-29771d0c69cd.png
  sprites/spr_icon_wounds/spr_icon_wounds.yy
  sprites/spr_unit_card_icons/43e88041-0bdc-4640-969f-8072a760ffb8.png
  sprites/spr_unit_card_icons/layers/43e88041-0bdc-4640-969f-8072a760ffb8/6678ebe2-e37c-439c-978e-072e4d89fc24.png
Labels: PR: Sprites, Size: Epic

#606 feat: Adjust how the starting disposition is affected by the sliders
  scripts/scr_creation/scr_creation.gml
Labels: PR: Feature, Size: Small

#618 ci: Update the runtime version for the autobuild workflow
  .github/workflows/gamemaker_build.yml
Labels: PR: CI, Size: Tiny

#619 fix: Management view not showing up
  scripts/scr_controller_helpers/scr_controller_helpers.gml
Labels: PR: Fix, Size: Tiny

#620 fix: Librarian training requirement
  objects/obj_controller/Create_0.gml
Labels: PR: Fix, Size: Tiny

#623 fix: Telekenesis non-existent power crash
  datafiles/data/psychic_disciplines.json
  datafiles/data/psychic_powers.json
  objects/obj_controller/Step_0.gml
Labels: PR: Fix, PR: JSON, Size: Huge

#621 chore: The ghost file
  ChapterMaster.yyp
Labels: PR: Chore, Size: Tiny

#622 chore: Custom icons user folder and error prevention
  ChapterMaster.yyp
  datafiles/README.md
  datafiles/icons/custom_icons_help.txt
  objects/obj_cuicons/Alarm_0.gml
  objects/obj_cuicons/Alarm_1.gml
  objects/obj_cuicons/Alarm_2.gml
  objects/obj_cuicons/Destroy_0.gml
  scripts/__init_external/__init_external.gml
  scripts/scr_creation_draw_slides/scr_creation_draw_slides.gml
Labels: PR: Chore, PR: Docs, Size: Medium

#614 style: Format a bunch of scripts with Gobo and JS formatters
  objects/obj_controller/Step_0.gml
  scripts/scr_clean/scr_clean.gml
  scripts/scr_controller_helpers/scr_controller_helpers.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_drop_select_function/scr_drop_select_function.gml
  scripts/scr_equipment_struct/scr_equipment_struct.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_powers/scr_powers.gml
  scripts/scr_shoot/scr_shoot.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Code Style, Size: Warning!

#626 fix: A couple of things that the formatter broke
  scripts/scr_equipment_struct/scr_equipment_struct.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
Labels: PR: Fix, Size: Tiny

#624 fix: Unit management view breaking and win some step time
  objects/obj_controller/Step_0.gml
  scripts/exp_and_exp_growth/exp_and_exp_growth.gml
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_controller_helpers/scr_controller_helpers.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Fix, Size: Medium

#632 fix: Crusade event spawns again
  objects/obj_en_fleet/Alarm_1.gml
  objects/obj_p_fleet/Alarm_1.gml
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_fleet_functions/scr_fleet_functions.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_star_travel_algorithm/scr_star_travel_algorithm.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Fix, Size: Small

#629 fix: Loading/Reloading marines onto ships, remove Undefined check
  ChapterMaster.yyp
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Fix, Size: Tiny

#628 fix: Restore init_garrison_mission to prevent crash
  objects/obj_creation/Create_0.gml
  scripts/scr_mission_functions/scr_mission_functions.gml
Labels: PR: Fix, Size: Tiny

#638 fix: Tome Keepers psyker advantage and starting disposition
  datafiles/main/chapters/32.JSON
Labels: PR: Fix, Size: Tiny

#639 fix: Second UI sprite frame being offset
  sprites/spr_new_ui/237fde07-03da-4332-b471-2f7f691fb003.png
  sprites/spr_new_ui/751eeb13-8d20-4ec3-a112-2614d1d1869c.png
  sprites/spr_new_ui/8d415ed6-0e26-4ceb-81b7-9d0cbac59606.png
  sprites/spr_new_ui/layers/237fde07-03da-4332-b471-2f7f691fb003/33cefcc3-323a-492a-91f6-1f89868a1e47.png
  sprites/spr_new_ui/layers/751eeb13-8d20-4ec3-a112-2614d1d1869c/33cefcc3-323a-492a-91f6-1f89868a1e47.png
  sprites/spr_new_ui/layers/751eeb13-8d20-4ec3-a112-2614d1d1869c/60422880-6527-438f-b72f-534694fd94b7.png
  sprites/spr_new_ui/layers/751eeb13-8d20-4ec3-a112-2614d1d1869c/91bb7959-b971-40ca-88d6-af658bea0c3b.png
  sprites/spr_new_ui/layers/8d415ed6-0e26-4ceb-81b7-9d0cbac59606/33cefcc3-323a-492a-91f6-1f89868a1e47.png
  sprites/spr_new_ui/layers/8d415ed6-0e26-4ceb-81b7-9d0cbac59606/60422880-6527-438f-b72f-534694fd94b7.png
  sprites/spr_new_ui/layers/8d415ed6-0e26-4ceb-81b7-9d0cbac59606/91bb7959-b971-40ca-88d6-af658bea0c3b.png
  sprites/spr_new_ui/spr_new_ui.yy
Labels: PR: Fix, PR: Sprites, Size: Tiny

#643 feat: More psy adjustments
  datafiles/data/psychic_powers.json
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Step_0.gml
  objects/obj_ncombat/KeyPress_13.gml
  scripts/scr_load_controller/scr_load_controller.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_perils_table/scr_perils_table.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_powers/scr_powers.gml
Labels: PR: Feature, PR: JSON, Size: Medium

#644 chore: Remove old debug messages
  objects/obj_creation_popup/Draw_0.gml
  objects/obj_enunit/Alarm_0.gml
  objects/obj_fleet_select/Draw_0.gml
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/KeyPress_13.gml
  objects/obj_pnunit/Alarm_3.gml
  objects/obj_pnunit/Alarm_5.gml
  objects/obj_popup/Step_0.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_creation_home_planet_create/scr_creation_home_planet_create.gml
  scripts/scr_librarium/scr_librarium.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
  scripts/scr_player_ship_functions/scr_player_ship_functions.gml
Labels: PR: Chore, Size: Tiny

#647 refactor: And fix enemy ranged targeting
  objects/obj_enunit/Alarm_0.gml
  objects/obj_enunit/Create_0.gml
  objects/obj_pnunit/Create_0.gml
  scripts/scr_en_weapon/scr_en_weapon.gml
Labels: PR: Refactor, PR: Fix, Size: Epic

#641 feat: Marine and Vehicle recovery system adjustments
  ChapterMaster.yyp
  objects/obj_ncombat/Alarm_3.gml
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/Alarm_7.gml
  objects/obj_ncombat/Create_0.gml
  objects/obj_ncombat/KeyPress_13.gml
  objects/obj_pnunit/Alarm_4.gml
  objects/obj_pnunit/Alarm_5.gml
  objects/obj_pnunit/obj_pnunit.yy
  scripts/scr_after_combat/scr_after_combat.gml
  scripts/scr_after_combat/scr_after_combat.yy
  scripts/scr_distribute_experience/scr_distribute_experience.gml
  scripts/scr_flavor2/scr_flavor2.gml
Labels: PR: Fix, PR: Feature, Size: Huge

#649 refactor: And fix Enemy movement
  objects/obj_enunit/Alarm_0.gml
  objects/obj_enunit/Alarm_5.gml
  objects/obj_enunit/Alarm_6.gml
  objects/obj_enunit/Destroy_0.gml
  objects/obj_enunit/KeyPress_87.gml
  objects/obj_enunit/Mouse_0.gml
  objects/obj_enunit/obj_enunit.yy
  objects/obj_ncombat/KeyPress_13.gml
  objects/obj_pnunit/Alarm_0.gml
  scripts/scr_punit_combat_heplers/scr_punit_combat_heplers.gml
Labels: PR: Refactor, Size: Medium

#645 fix: Stop cloaks being drawn on scouts
  scripts/scr_ComplexSet/scr_ComplexSet.gml
Labels: PR: Fix, Size: Tiny
