Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2025-04, with the labels that each got.

#646 feat: Slime increases armor maintenance, without destruction
  objects/obj_ncombat/Alarm_5.gml
  scripts/scr_after_combat/scr_after_combat.gml
  sprites/spr_left_pauldron_fur_hanging/spr_left_pauldron_fur_hanging.yy
  sprites/spr_right_pauldron_fur_hanging/spr_right_pauldron_fur_hanging.yy
  sprites/spr_scout_colors/spr_scout_colors.yy
  sprites/spr_scout_complex/spr_scout_complex.yy
  sprites/spr_scout_heads/spr_scout_heads.yy
  sprites/spr_scout_new/spr_scout_new.yy
  sprites/spr_term_left_fur_hanging/spr_term_left_fur_hanging.yy
  sprites/spr_term_right_fur_hanging/spr_term_right_fur_hanging.yy
Labels: PR: Improvment, PR: Feature, PR: Balance, PR: Sprites, Size: Small

#640 feat: Adjust after battle EXP and Req rewards
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/KeyPress_13.gml
Labels: PR: Improvment, PR: Feature, PR: Balance, Size: Tiny

#651 feat: Mostly under-the-hood changes to battle columns
  objects/obj_centerline/Step_0.gml
  objects/obj_enunit/Alarm_0.gml
  objects/obj_enunit/Create_0.gml
  objects/obj_enunit/Draw_0.gml
  objects/obj_enunit/Step_0.gml
  objects/obj_pnunit/Create_0.gml
  objects/obj_pnunit/Draw_0.gml
  objects/obj_pnunit/Step_0.gml
  scripts/scr_punit_combat_heplers/scr_punit_combat_heplers.gml
  scripts/scr_string_functions/scr_string_functions.gml
Labels: PR: Refactor, PR: Feature, Size: Big

#654 feat: Recovery text, gene-seed recovery, string functions
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Step_0.gml
  objects/obj_enunit/Draw_0.gml
  objects/obj_ncombat/Alarm_3.gml
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/Create_0.gml
  objects/obj_p_assra/Alarm_0.gml
  scripts/scr_after_combat/scr_after_combat.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_equipment_struct/scr_equipment_struct.gml
  scripts/scr_management/scr_management.gml
  scripts/scr_punit_combat_heplers/scr_punit_combat_heplers.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_string_functions/scr_string_functions.gml
Labels: PR: Refactor, PR: Improvment, PR: Feature, Size: Big, PR: QoL

#648 feat: Specialist assignment buttons for companies and a refactor
  objects/obj_popup/Draw_0.gml
  scripts/exp_and_exp_growth/exp_and_exp_growth.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_company_struct/scr_company_struct.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_culture_visuals/scr_culture_visuals.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_drop_fiddle/scr_drop_fiddle.gml
  scripts/scr_manage_task_selector/scr_manage_task_selector.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Refactor, PR: Feature, Size: Big, PR: QoL

#658 refactor: Replace specialist group strings with macros
  objects/obj_controller/Alarm_6.gml
  objects/obj_event/Step_0.gml
  objects/obj_p_assra/Alarm_0.gml
  objects/obj_p_assra/Step_0.gml
  objects/obj_popup/Draw_0.gml
  objects/obj_popup/Mouse_50.gml
  objects/obj_popup/Step_0.gml
  scripts/exp_and_exp_growth/exp_and_exp_growth.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_after_combat/scr_after_combat.gml
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_boarding_actions/scr_boarding_actions.gml
  scripts/scr_clean/scr_clean.gml
  scripts/scr_company_struct/scr_company_struct.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_culture_visuals/scr_culture_visuals.gml
  scripts/scr_diplomacy_helpers/scr_diplomacy_helpers.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_draw_planet_features/scr_draw_planet_features.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_draw_unit_stat_data/scr_draw_unit_stat_data.gml
  scripts/scr_drop_fiddle/scr_drop_fiddle.gml
  scripts/scr_event_dudes/scr_event_dudes.gml
  scripts/scr_flavor2/scr_flavor2.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_player_ship_functions/scr_player_ship_functions.gml
  scripts/scr_random_marine/scr_random_marine.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
  scripts/scr_specialist_points/scr_specialist_points.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Refactor, Size: Medium

#659 ci: Remove the specific runtime ver, it should parse it by itself now
  .github/workflows/gamemaker_build.yml
Labels: PR: CI, Size: Tiny

#662 ci: Yet another PR template edit
  .github/pull_request_template.md
Labels: PR: Docs, PR: CI, Size: Tiny

#663 chore: Try-catch mass_equip Step_0 and format
  objects/obj_mass_equip/Step_0.gml
Labels: PR: Chore, Size: Huge

#664 fix: Single enemy fight crash, due to column colour
  objects/obj_enunit/Create_0.gml
  objects/obj_enunit/Draw_0.gml
Labels: PR: Fix, Size: Tiny

#666 fix: Proper tooltip offset from the cursor and flipping
  objects/obj_tooltip/Draw_75.gml
  scripts/scr_hit/scr_hit.gml
Labels: PR: Fix, Size: Tiny

#667 fix: Column composition_string not getting replaced
  objects/obj_enunit/Draw_0.gml
Labels: PR: Fix, Size: Tiny

#669 style: Format group_selection() and other_manage_data()
  scripts/is_specialist/is_specialist.gml
  scripts/scr_company_view/scr_company_view.gml
Labels: PR: Code Style, Size: Medium

#670 fix: Champion and Ancient broken company assignments
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Fix, Size: Medium

#671 refactor: And fix command squad assigments code
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Mouse_61.gml
  scripts/is_specialist/is_specialist.gml
  scripts/macros/macros.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_manage_task_selector/scr_manage_task_selector.gml
  scripts/scr_roman_numerals/scr_roman_numerals.gml
  scripts/scr_scrollbar/scr_scrollbar.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Refactor, PR: Fix, Size: Medium

#673 fix: Error in enemy_ai_b
  scripts/scr_enemy_ai_b/scr_enemy_ai_b.gml
Labels: PR: Fix, Size: Tiny

#674 style: Format scr_enemy_ai_b
  scripts/scr_enemy_ai_b/scr_enemy_ai_b.gml
Labels: PR: Code Style, Size: Huge

#675 fix: try_and_report_loop arg passing
  scripts/scr_log/scr_log.gml
Labels: PR: Fix, Size: Tiny

#677 fix: Ensure that specialist training only takes unemployed marines
  scripts/scr_random_marine/scr_random_marine.gml
  scripts/scr_specialist_training/scr_specialist_training.gml
Labels: PR: Fix, Size: Tiny

#678 ci: Update release workflow
  .github/workflows/release_dev.yml
Labels: PR: CI, Size: Small

#679 fix: Dreadnought mass equip crash
  objects/obj_mass_equip/Draw_0.gml
Labels: PR: Fix, Size: Tiny

#681 fix: Save/loading breakage due to controller var
  objects/obj_controller/Create_0.gml
  scripts/macros/macros.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Fix, Size: Medium

#686 docs: Code Style recommendations update
  docs/CODE_STYLE.md
Labels: PR: Docs, Size: Small

#687 feat: Proper Shotgun addition
  ChapterMaster.yyp
  objects/obj_shop/Create_0.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_ui_display_weapons/scr_ui_display_weapons.gml
  scripts/scr_weapon/scr_weapon.gml
  sprites/spr_weapon_shotgun/ed54fad2-a39b-4f07-9737-5b8f916bee92.png
  sprites/spr_weapon_shotgun/layers/ed54fad2-a39b-4f07-9737-5b8f916bee92/11b4c573-f844-42a2-905a-d6dace60762b.png
  sprites/spr_weapon_shotgun/spr_weapon_shotgun.yy
Labels: PR: Feature, PR: Sprites, Size: Small

#685 feat: Fully working Omnissian Axe and repair specials
  ChapterMaster.yyp
  scripts/scr_after_combat/scr_after_combat.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_ui_display_weapons/scr_ui_display_weapons.gml
  scripts/scr_weapon/scr_weapon.gml
  sprites/spr_weapon_omnissian_axe/cf403b7b-a831-4dd7-94fc-490b330d9a3b.png
  sprites/spr_weapon_omnissian_axe/layers/cf403b7b-a831-4dd7-94fc-490b330d9a3b/3f223d5d-3d0b-4c23-9457-1ae722299b06.png
  sprites/spr_weapon_omnissian_axe/spr_weapon_omnissian_axe.yy
Labels: PR: Sprites, Size: Small

#691 ci: Overhaul label names and adjust release notes
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release.yml
  .github/srvaroa_labeler.yml
  .github/stale_labeler.yml
  .github/workflows/stale_labeler.yml
Labels: Type: CI, Size: Small

#692 ci: Area and Category label prefixes
  .github/pr_labeler_contents.yml
  .github/pr_labeler_files_changed.yml
  .github/pr_labeler_size.yml
  .github/release.yml
  .github/workflows/open_labeler.yml
  .github/workflows/sync_labeler.yml
Labels: Type: CI, Size: Small

#684 feat: Allow more column options for battleline squads
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: Type: Feature, Size: Tiny

#668 fix: Daemonworld exterminatus disposition hit
  scripts/scr_destroy_planet/scr_destroy_planet.gml
Labels: Type: Fix, Type: Code Style, Size: Small

#694 style: scr_destroy_planet and scr_add_item
  scripts/scr_add_item/scr_add_item.gml
  scripts/scr_destroy_planet/scr_destroy_planet.gml
Labels: Type: Code Style, Size: Big

#697 style: scr_add_artifact.gml
  scripts/scr_add_artifact/scr_add_artifact.gml
Labels: Type: Code Style, Size: Huge

#696 fix: Artifact destroying crash
  scripts/scr_add_artifact/scr_add_artifact.gml
Labels: Type: Fix, Size: Tiny

#699 fix: Daemon artifact ship battle crash and a tip about destroying
  scripts/scr_arti_descr/scr_arti_descr.gml
  scripts/scr_ship_battle/scr_ship_battle.gml
Labels: Type: Fix, Size: Tiny

#680 refactor: Serialization improvements; Readable save files
  ChapterMaster.yyp
  objects/obj_controller/Create_0.gml
  objects/obj_en_fleet/Create_0.gml
  objects/obj_ini/Create_0.gml
  objects/obj_p_fleet/Create_0.gml
  objects/obj_star/Create_0.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_serialization_functions/scr_serialization_functions.gml
  scripts/scr_serialization_functions/scr_serialization_functions.yy
  scripts/scr_squads/scr_squads.gml
  scripts/scr_string_functions/scr_string_functions.gml
Labels: Type: Refactor, Size: Medium

#701 fix: Mass equip invalid armor failsafe
  objects/obj_mass_equip/Step_0.gml
Labels: Type: Fix, Size: Tiny

#702 refactor: Equipment update function artifact equip robustness
  scripts/scr_unit_equip_functions/scr_unit_equip_functions.gml
Labels: Type: Refactor, Type: Fix, Size: Big

#703 fix: Term weapon sprites; Remove an unused sprite
  ChapterMaster.yyp
  sprites/spr_weapon_boltstorm_gauntlets/de3dcbc3-1a69-4b3c-ad1b-9c3dbaae504c.png
  sprites/spr_weapon_boltstorm_gauntlets/layers/de3dcbc3-1a69-4b3c-ad1b-9c3dbaae504c/89289d72-d351-4499-9efd-43072272c9de.png
  sprites/spr_weapon_boltstorm_gauntlets/layers/de3dcbc3-1a69-4b3c-ad1b-9c3dbaae504c/ba691e88-e4aa-4ccc-8c84-31accfabb7fd.png
  sprites/spr_weapon_boltstorm_gauntlets/spr_weapon_boltstorm_gauntlets.yy
  sprites/spr_weapon_hflamer_term/3458bbca-83b5-4d11-82fc-4c5ec0ec0153.png
  sprites/spr_weapon_hflamer_term/a881943a-e7b3-4a2d-aa8e-4482d90446bf.png
  sprites/spr_weapon_hflamer_term/layers/3458bbca-83b5-4d11-82fc-4c5ec0ec0153/40723143-5a12-4028-bb1a-86be12fe99ed.png
  sprites/spr_weapon_hflamer_term/layers/a881943a-e7b3-4a2d-aa8e-4482d90446bf/40723143-5a12-4028-bb1a-86be12fe99ed.png
  sprites/spr_weapon_hflamer_term/spr_weapon_hflamer_term.yy
  sprites/spr_weapon_plasma_cannon_term/36aa50b2-c682-4f5c-ad1d-686954937811.png
  sprites/spr_weapon_plasma_cannon_term/b1bfd590-4f57-4a7d-99f3-5bb0864e8d01.png
  sprites/spr_weapon_plasma_cannon_term/layers/36aa50b2-c682-4f5c-ad1d-686954937811/817958d1-2fd5-4820-a331-9397b556f1c1.png
  sprites/spr_weapon_plasma_cannon_term/layers/b1bfd590-4f57-4a7d-99f3-5bb0864e8d01/817958d1-2fd5-4820-a331-9397b556f1c1.png
  sprites/spr_weapon_plasma_cannon_term/spr_weapon_plasma_cannon_term.yy
Labels: Type: Fix, Area: Sprites, Size: Small

#665 feat: More squad marker colors
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
Labels: Type: Feature, Category: QoL, Size: Tiny

#700 feat: JSON save/loading overhaul
  ChapterMaster.yyp
  objects/obj_controller/Create_0.gml
  objects/obj_en_fleet/Create_0.gml
  objects/obj_ini/Create_0.gml
  objects/obj_p_fleet/Create_0.gml
  objects/obj_popup/Step_0.gml
  objects/obj_saveload/Alarm_0.gml
  objects/obj_saveload/Alarm_2.gml
  objects/obj_saveload/Alarm_4.gml
  objects/obj_saveload/Create_0.gml
  objects/obj_saveload/Draw_0.gml
  objects/obj_saveload/Mouse_60.gml
  objects/obj_saveload/Mouse_61.gml
  objects/obj_saveload/Step_0.gml
  objects/obj_star/Create_0.gml
  scripts/__init_external/__init_external.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_general_variable_functions/scr_general_variable_functions.gml
  scripts/scr_general_variable_functions/scr_general_variable_functions.yy
  scripts/scr_load/scr_load.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_save_controller/scr_save_controller.gml
  scripts/scr_serialization_functions/scr_serialization_functions.gml
  scripts/scr_serialization_functions/scr_serialization_functions.yy
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_string_functions/scr_string_functions.gml
Labels: Type: Refactor, Type: Breaking, Type: Feature, Type: Performance, Size: Epic

#704 refactor: Deprecate DeepCloneStruct; Add struct_empty()
  ChapterMaster.yyp
  objects/obj_creation/Step_0.gml
  objects/obj_ini/Create_0.gml
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_chapter_random/scr_chapter_random.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_creation/scr_creation.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_livery_setup/scr_livery_setup.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_mission_functions/scr_mission_functions.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_struct_functions/scr_struct_functions.gml
  scripts/scr_struct_functions/scr_struct_functions.yy
  scripts/scr_unit_traits/scr_unit_traits.gml
Labels: Type: Refactor, Size: Small

#683 feat: Sternguard and Vanguard > Veteran; Loadout adjustments
  objects/obj_popup/Mouse_50.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_squads/scr_squads.gml
Labels: Type: Feature, Category: Balance, Size: Medium

#706 ci: Fix dev release workflow
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Tiny

#709 fix: Remove "Librarian Required" button when Psyker Intolerant
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: Type: Fix, Size: Tiny

#710 fix: forge queue and i assume apothecary points being broke on save/load
  objects/obj_controller/Create_0.gml
  scripts/scr_load/scr_load.gml
Labels: Type: Fix, Size: Tiny

#712 fix: Test-Slave Incubators save/loading
  objects/obj_ini/Create_0.gml
Labels: Type: Fix, Size: Tiny

#713 chore: Error logging improvments
  objects/obj_main_menu/Create_0.gml
  scripts/__init_global/__init_global.gml
  scripts/scr_log/scr_log.gml
Labels: Type: Chore, Size: Small

#717 revert: "fix: Safety tweaks to unit draw surfaces (#715)"
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_culture_visuals/scr_culture_visuals.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
Labels: Type: Revert, Size: Small

#721 fix: Stability improvements on company sprite system
  objects/obj_controller/Create_0.gml
  objects/obj_creation/Create_0.gml
  objects/obj_garbage_collector/Step_0.gml
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_culture_visuals/scr_culture_visuals.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_livery_setup/scr_livery_setup.gml
  sprites/spr_weapon_hflamer/spr_weapon_hflamer.yy
Labels: Type: Fix, Area: Sprites, Size: Small

#725 refactor: Redo company initialize code
  datafiles/main/chapters/1.JSON
  datafiles/main/chapters/10.JSON
  datafiles/main/chapters/2.JSON
  datafiles/main/chapters/3.JSON
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Mouse_50.gml
  objects/obj_enunit/Alarm_0.gml
  objects/obj_enunit/Alarm_1.gml
  objects/obj_ini/Create_0.gml
  objects/obj_ncombat/Alarm_7.gml
  objects/obj_p_assra/Alarm_0.gml
  objects/obj_p_ship/Alarm_0.gml
  objects/obj_pnunit/Alarm_3.gml
  objects/obj_popup/Draw_0.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_after_combat/scr_after_combat.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_civil_roster/scr_civil_roster.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_destroy_planet/scr_destroy_planet.gml
  scripts/scr_dialogue/scr_dialogue.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_drop_fiddle/scr_drop_fiddle.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_enemy_ai_e/scr_enemy_ai_e.gml
  scripts/scr_flavor2/scr_flavor2.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_kill_unit/scr_kill_unit.gml
  scripts/scr_load_controller/scr_load_controller.gml
  scripts/scr_management/scr_management.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_master_loc/scr_master_loc.gml
  scripts/scr_perils_table/scr_perils_table.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_player_fleet_combat_functions/scr_player_fleet_combat_functions.gml
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_random_marine/scr_random_marine.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_save_controller/scr_save_controller.gml
  scripts/scr_ship_battle/scr_ship_battle.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_advisors/scr_ui_advisors.gml
  scripts/scr_unit_detail_text/scr_unit_detail_text.gml
  scripts/scr_unit_size/scr_unit_size.gml
  scripts/scr_unit_spawn_functions/scr_unit_spawn_functions.gml
Labels: Type: Refactor, Size: Epic

#728 fix: Rework planet dispo to work with PlanetData
  objects/obj_en_fleet/Alarm_1.gml
  objects/obj_p_fleet/Alarm_1.gml
  objects/obj_star/Alarm_1.gml
  scripts/scr_PlanetData/scr_PlanetData.gml
  scripts/scr_imperial_navy_functions/scr_imperial_navy_functions.gml
  scripts/scr_mission_functions/scr_mission_functions.gml
  scripts/scr_recruit_data/scr_recruit_data.gml
  scripts/scr_system_search_helpers/scr_system_search_helpers.gml
Labels: Type: Refactor, Type: Fix, Size: Medium

#729 ci: Manual gamemaker build for testing
  .github/workflows/gamemaker_build.yml
Labels: Type: CI, Size: Tiny

#736 fix: Obliterated generating a 1st company
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: Type: Fix, Size: Tiny

#743 refactor: mass_equip; Any Power Armor; Any Terminator Armor
  datafiles/main/chapters/3.JSON
  datafiles/main/chapters/4.JSON
  objects/obj_controller/Create_0.gml
  objects/obj_creation/Create_0.gml
  objects/obj_mass_equip/Create_0.gml
  objects/obj_mass_equip/Draw_0.gml
  objects/obj_mass_equip/Step_0.gml
  objects/obj_popup/Create_0.gml
  scripts/macros/macros.gml
  scripts/scr_add_artifact/scr_add_artifact.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_culture_visuals/scr_culture_visuals.gml
  scripts/scr_get_item_names/scr_get_item_names.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_restart_variables/scr_restart_variables.gml
  scripts/scr_struct_functions/scr_struct_functions.gml
  scripts/scr_unit_equip_functions/scr_unit_equip_functions.gml
  scripts/scr_unit_size/scr_unit_size.gml
Labels: Type: Refactor, Size: Big

#746 fix: A bunch of click issues; Dbg overlay at ~; obj_persistent
  ChapterMaster.yyp
  objects/obj_creation/Draw_0.gml
  objects/obj_creation/Mouse_51.gml
  objects/obj_creation/Mouse_60.gml
  objects/obj_creation/Mouse_61.gml
  objects/obj_creation_popup/Draw_0.gml
  objects/obj_ingame_menu/CleanUp_0.gml
  objects/obj_ingame_menu/KeyPress_27.gml
  objects/obj_ingame_menu/obj_ingame_menu.yy
  objects/obj_new_button/Draw_0.gml
  objects/obj_new_button/Step_0.gml
  objects/obj_persistent/Create_0.gml
  objects/obj_persistent/Step_0.gml
  objects/obj_persistent/obj_persistent.yy
  objects/obj_saveload/Alarm_1.gml
  objects/obj_saveload/Create_0.gml
  objects/obj_saveload/Draw_0.gml
  objects/obj_saveload/Step_0.gml
  rooms/Main_Menu/Main_Menu.yy
  scripts/scr_creation_draw_slides/scr_creation_draw_slides.gml
  scripts/scr_hit/scr_hit.gml
  scripts/scr_livery_setup/scr_livery_setup.gml
Labels: Type: Fix, Size: Medium

#747 ci: Test 10 date tags
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Tiny

#748 ci: Even more workflow fixing
  .github/workflows/gamemaker_build.yml
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Small

#749 ci: Nightly build and other improvements/fixes
  .github/workflows/release_dev.yml
  .github/workflows/release_stable.yml
Labels: Type: CI, Size: Small

#750 fix: Colour pick click detection typo
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
Labels: Type: Fix, Size: Tiny

#752 ci: It was not matching the wildcard
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Tiny

#753 fix: Destroy a runaway unit_size ds_map
  scripts/scr_unit_size/scr_unit_size.gml
Labels: Type: Fix, Size: Tiny

#764 fix: Clear the surfaces before freeing
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
Labels: Type: Fix, Size: Tiny

#766 fix: Helm sprite memory leak; Surface freeing and clearing
  objects/obj_star/Draw_0.gml
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_culture_visuals/scr_culture_visuals.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
Labels: Type: Fix, Size: Tiny

#773 ci: Check all commit types since last release
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Small

#775 feat: Chapter icons as save previews
  objects/obj_popup/Step_0.gml
  objects/obj_saveload/Alarm_0.gml
  objects/obj_saveload/Alarm_2.gml
  objects/obj_saveload/Alarm_4.gml
  objects/obj_saveload/Create_0.gml
  objects/obj_saveload/Destroy_0.gml
  objects/obj_saveload/Draw_0.gml
  objects/obj_saveload/Mouse_60.gml
  objects/obj_saveload/Mouse_61.gml
  scripts/__init_external/__init_external.gml
  scripts/scr_controller_helpers/scr_controller_helpers.gml
  scripts/scr_image/scr_image.gml
  scripts/scr_save/scr_save.gml
Labels: Type: Feature, Size: Medium

#778 chore: More logging for the NameGenerator
  scripts/NameGenerator/NameGenerator.gml
Labels: Type: Chore, Size: Tiny

#779 feat: Less red in the battlelog
  objects/obj_ncombat/Alarm_3.gml
  objects/obj_ncombat/Alarm_5.gml
  scripts/scr_flavor2/scr_flavor2.gml
Labels: Type: Feature, Size: Tiny

#785 ci: Run daily workflows at 22:00 UTC
  .github/workflows/release_dev.yml
  .github/workflows/stale_labeler.yml
Labels: Type: CI, Size: Tiny

#782 fix: Remaining sprite weapon issues and streamline customiser
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_buttons/scr_buttons.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_culture_visuals/scr_culture_visuals.gml
  scripts/scr_livery_setup/scr_livery_setup.gml
Labels: Type: Fix, Size: Medium

#783 fix: NameGenerator breakage
  objects/obj_creation/Create_0.gml
  scripts/NameGenerator/NameGenerator.gml
Labels: Type: Fix, Size: Tiny

#784 revert: Copy-on-Write back to true
  options/main/options_main.yy
Labels: Type: Revert, Size: Tiny
