Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2025-01, with the labels that each got.

#369 ci: Update pull_request_template
  .github/pull_request_template.md
Labels: PR: Chore, PR: Docs

#377 fix: tidy up the aspirant trial display on chapter creation slides
  ChapterMaster.yyp
  objects/obj_creation/Draw_0.gml
  scripts/scr_recruit_data/scr_recruit_data.gml
Labels: PR: Fix

#376 refactor: trait usage standardisation
  objects/obj_controller/Alarm_5.gml
  objects/obj_controller/Create_0.gml
  objects/obj_fleet/Create_0.gml
  objects/obj_ini/Create_0.gml
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_popup/Draw_0.gml
  objects/obj_popup/Step_0.gml
  objects/obj_star_select/Draw_64.gml
  scripts/scr_add_artifact/scr_add_artifact.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_enemy_ai_b/scr_enemy_ai_b.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_garrison/scr_garrison.gml
  scripts/scr_kill_unit/scr_kill_unit.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_perils_table/scr_perils_table.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_powers/scr_powers.gml
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_unit_spawn_functions/scr_unit_spawn_functions.gml
  scripts/scr_unit_traits/scr_unit_traits.gml
Labels: PR: Refactor, PR: Fix

#378 ci: A bunch of minor CI changes
  .github/labeler.yml
  .github/pr-title-checker-config.json
  .github/pull_request_template.md
  .github/release.yml
Labels: PR: Chore, PR: Docs, PR: CI

#357 fix: Weapon and formation options for Bikers and Assaults
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: PR: Fix

#379 fix: A couple of missed old trait checks
  objects/obj_controller/Create_0.gml
  objects/obj_ground_mission/Alarm_4.gml
  objects/obj_ground_mission/Alarm_5.gml
  scripts/scr_dialogue/scr_dialogue.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: PR: Fix

#381 refactor: Wrap a ton of stuff into try/catch and format
  objects/obj_creation/Draw_0.gml
  objects/obj_drop_select/Draw_64.gml
  objects/obj_fleet_select/Draw_64.gml
  objects/obj_popup/Draw_0.gml
  objects/obj_popup/Step_0.gml
  scripts/NameGenerator/NameGenerator.gml
  scripts/scr_add_vehicle/scr_add_vehicle.gml
  scripts/scr_ancient_ruins/scr_ancient_ruins.gml
  scripts/scr_restart_variables/scr_restart_variables.gml
Labels: PR: Refactor, PR: Code Style, PR: Major Coding

#385 fix: Variable scope in scr_add_vehicle
  scripts/scr_add_vehicle/scr_add_vehicle.gml
Labels: PR: Fix

#382 fix: Misplaced broken trait check
  objects/obj_controller/Create_0.gml
Labels: PR: Fix

#383 fix(sprite): Iron halo display position on Artificer armor
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
Labels: PR: Fix

#388 fix: Term Sergeant and Veteran broken loadouts
  objects/obj_creation/Create_0.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: PR: Fix

#389 revert: Armour randomization by default
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: PR: Fix, PR: Revert

#417 fix: Potential array issue with self-healing ships
  objects/obj_controller/Alarm_5.gml
Labels: PR: Fix, PR: Backport

#418 fix: Redundant check causing early end game
  objects/obj_ncombat/Alarm_7.gml
  scripts/scr_kill_unit/scr_kill_unit.gml
  scripts/scr_role_count/scr_role_count.gml
Labels: PR: Fix, PR: Backport

#352 feat: Combat adjustments
  objects/obj_p_assra/Step_0.gml
  scripts/scr_equipment_struct/scr_equipment_struct.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_shoot/scr_shoot.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Feature, PR: Major Coding, PR: Balance

#436 fix: Error handling to unit_finder_panel
  ChapterMaster.yyp
  fonts/fnt_menu/fnt_menu.old.png
  fonts/fnt_menu/fnt_menu.png
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_ini_ship_cleanup/scr_ini_ship_cleanup.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Fix

#435 refactor: Memory safe drawing of components
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
Labels: PR: Refactor, PR: Performance

#437 ci: Title checker updates
  .github/workflows/pr-title-checker.yml
Labels: PR: CI
