Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2025-05, with the labels that each got.

#792 fix: Crash on mission_inquisition_tyranid_organism
  scripts/scr_inquisition_mission/scr_inquisition_mission.gml
Labels: Type: Fix, Size: Small

#791 refactor: Inquisitor, loyalty, quest arrays with array_create()
  objects/obj_controller/Create_0.gml
Labels: Type: Refactor, Size: Tiny

#796 fix: NameGenerator not initialized when loading
  objects/obj_creation/CleanUp_0.gml
  objects/obj_creation/Create_0.gml
  scripts/__init_global/__init_global.gml
Labels: Type: Fix, Size: Tiny

#798 fix: Grav-Cannon sprite artifact
  sprites/spr_weapon_grav_cannon/cbb0ffd1-9108-4578-8690-2b8c6fc3c0be.png
  sprites/spr_weapon_grav_cannon/layers/cbb0ffd1-9108-4578-8690-2b8c6fc3c0be/1300598b-ffe2-4a1c-a7c8-7db8b3078acf.png
  sprites/spr_weapon_grav_cannon/layers/cbb0ffd1-9108-4578-8690-2b8c6fc3c0be/234b02f3-1afc-4539-ad33-93955d6e0288.png
  sprites/spr_weapon_grav_cannon/layers/cbb0ffd1-9108-4578-8690-2b8c6fc3c0be/4c68dd2d-a1e6-4382-b7bf-d242a78c6b49.png
  sprites/spr_weapon_grav_cannon/layers/cbb0ffd1-9108-4578-8690-2b8c6fc3c0be/a14db8e2-fda1-4cbf-99ab-1f40858bdedd.png
  sprites/spr_weapon_grav_cannon/spr_weapon_grav_cannon.yy
Labels: Type: Fix, Area: Sprites, Size: Tiny

#800 ci: Add debugging to old release deletion
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Tiny

#801 fix: Elite guard trait not working
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: Type: Fix, Size: Tiny

#816 ci: Attempt to fix commit checking and old build deletion
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Small

#814 feat: Raptors chapter
  ChapterMaster.yyp
  datafiles/images/creation/chapters/icons/raptors.png
  datafiles/images/creation/chapters/splash/36.png
  datafiles/main/chapters/36.json
  datafiles/main/chapters/template.JSON
  scripts/scr_colors_initialize/scr_colors_initialize.gml
Labels: Type: Feature, Area: JSON, Area: Sprites, Size: Huge

#815 feat: Consecrators chapter + ancient armoury trait
  ChapterMaster.yyp
  datafiles/images/creation/chapters/icons/consecrators.png
  datafiles/main/chapters/37.json
  objects/obj_creation/Create_0.gml
  scripts/scr_ComplexSet/scr_ComplexSet.gml
  scripts/scr_creation_draw_slides/scr_creation_draw_slides.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_unit_spawn_functions/scr_unit_spawn_functions.gml
Labels: Type: Feature, Area: JSON, Area: Sprites, Size: Medium

#819 refactor: eCHAPTER_TYPE enum and str slider fix
  objects/obj_controller/Create_0.gml
  objects/obj_creation/Create_0.gml
  objects/obj_creation/Draw_0.gml
  objects/obj_creation/Step_0.gml
  objects/obj_ncombat/Alarm_1.gml
  scripts/scr_creation/scr_creation.gml
  scripts/scr_creation_draw_slides/scr_creation_draw_slides.gml
  scripts/scr_creation_home_planet_create/scr_creation_home_planet_create.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_livery_setup/scr_livery_setup.gml
  scripts/scr_load_controller/scr_load_controller.gml
  scripts/scr_powers/scr_powers.gml
  scripts/scr_restart_variables/scr_restart_variables.gml
  scripts/scr_system_spawn_functions/scr_system_spawn_functions.gml
  scripts/scr_ui_settings/scr_ui_settings.gml
Labels: Type: Refactor, Type: Fix, Size: Medium

#817 refactor: obj_controller and ui_manage temp array stuff
  objects/obj_controller/Create_0.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: Type: Refactor, Type: Fix, Size: Small

#820 ci: Debug the old release deletion again
  .github/workflows/release_dev.yml
Labels: Type: CI, Size: Tiny

#821 fix: Saveload screen fixed
  objects/obj_ncombat/Alarm_2.gml
  objects/obj_saveload/Create_0.gml
  objects/obj_saveload/Draw_0.gml
  objects/obj_saveload/Mouse_60.gml
Labels: Type: Fix, Size: Tiny

#822 fix: Extra ships not applying to custom chaps
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: Type: Fix, Size: Tiny

#823 docs: Update CODE_STYLE.md
  docs/CODE_STYLE.md
Labels: Type: Docs, Size: Tiny

#826 style: Format scr_chapter_random, argument name change
  scripts/scr_chapter_random/scr_chapter_random.gml
Labels: Type: Code Style, Size: Huge

#832 style: Format obj_ground_mission alarm_6
  objects/obj_ground_mission/Alarm_6.gml
Labels: Type: Code Style, Size: Small

#835 style: Format scr_return_ship
  scripts/scr_return_ship/scr_return_ship.gml
Labels: Type: Code Style, Size: Small

#841 ci: Bump igor-setup version
  .github/workflows/gamemaker_build.yml
Labels: Type: CI, Size: Tiny

#847 style: Format scr_ui_settings
  scripts/scr_ui_settings/scr_ui_settings.gml
Labels: Type: Code Style, Size: Epic

#844 fix: Chapter strength values for pre-made chapters
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: Type: Fix, Size: Small

#845 chore: Reorgonize sound assets
  ChapterMaster.yyp
  sounds/snd_battle/snd_battle.yy
  sounds/snd_blood/snd_blood.yy
  sounds/snd_buzz/snd_buzz.yy
  sounds/snd_click/snd_click.yy
  sounds/snd_click_small/snd_click_small.yy
  sounds/snd_defeat/snd_defeat.yy
  sounds/snd_diboz/snd_diboz.yy
  sounds/snd_end_turn/snd_end_turn.yy
  sounds/snd_error/snd_error.yy
  sounds/snd_identify/snd_identify.yy
  sounds/snd_legal/snd_legal.yy
  sounds/snd_postbattle/snd_postbattle.yy
  sounds/snd_prologue/snd_prologue.yy
  sounds/snd_redownload/snd_redownload.yy
  sounds/snd_royal/snd_royal.yy
  sounds/snd_stc/snd_stc.yy
  sounds/snd_vode/snd_vode.yy
Labels: Type: Chore, Area: Audio, Size: Small

#846 fix: Disable the "Restart" save button
  objects/obj_saveload/Draw_0.gml
Labels: Type: Fix, Size: Tiny

#849 fix: Type change for custom formations and tooltips
  scripts/scr_ui_formation_bars/scr_ui_formation_bars.gml
  scripts/scr_ui_settings/scr_ui_settings.gml
Labels: Type: Fix, Size: Small

#850 fix: Crusade crash (audience variable init)
  objects/obj_crusade/Mouse_50.gml
  objects/obj_turn_end/Create_0.gml
Labels: Type: Fix, Size: Tiny

#852 fix: scr_turn_first crash
  scripts/scr_turn_first/scr_turn_first.gml
Labels: Type: Fix, Size: Tiny
