Repository Adeptus-Dominus/ChapterMaster, pull requests merged in 2025-02, with the labels that each got.

#462 fix: Random exit from creation screen on click
  objects/obj_main_menu_buttons/Step_0.gml
Labels: PR: Fix

#464 fix: `Ambushers`+`Lightning Warriors` crash
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: PR: Fix

#466 fix: Tech Heresy detection var in wrong scope
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
Labels: PR: Fix

#468 feat: if population equals zero then reset all influence
  scripts/scr_PlanetData/scr_PlanetData.gml
Labels: PR: Feature

#467 feat: Make Purge interaction with Cults more obvious
  scripts/scr_bomb_world/scr_bomb_world.gml
  scripts/scr_purge_world/scr_purge_world.gml
Labels: PR: Feature

#472 fix: Rhino missing HK missile armament
  scripts/scr_get_item_names/scr_get_item_names.gml
Labels: PR: Fix

#470 feat: Add pasting support for cheats
  objects/obj_popup_dialogue/Step_0.gml
Labels: PR: Feature

#473 feat: Make Bombard purging reduce corruption
  scripts/scr_bomb_world/scr_bomb_world.gml
Labels: PR: Feature

#476 feat: Rework how debugl is used and works
  objects/obj_controller/Alarm_7.gml
  objects/obj_controller/Create_0.gml
  objects/obj_fleet/Create_0.gml
  objects/obj_fleet/Step_0.gml
  objects/obj_garbage_collector/Step_0.gml
  objects/obj_ncombat/Alarm_7.gml
  objects/obj_ncombat/Create_0.gml
  scripts/JsonFileListLoader/JsonFileListLoader.gml
  scripts/NameGenerator/NameGenerator.gml
  scripts/debugl/debugl.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_event_dudes/scr_event_dudes.gml
  scripts/scr_fleet_functions/scr_fleet_functions.gml
  scripts/scr_hit/scr_hit.gml
  scripts/scr_image/scr_image.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_khornate_fleet_functions/scr_khornate_fleet_functions.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_load_controller/scr_load_controller.gml
  scripts/scr_necron_tombs/scr_necron_tombs.gml
  scripts/scr_planetary_feature/scr_planetary_feature.gml
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_save_controller/scr_save_controller.gml
Labels: PR: Refactor, PR: Feature, PR: Performance

#475 fix: Garrison fixes and minor changes
  scripts/scr_PlanetData/scr_PlanetData.gml
  scripts/scr_garrison/scr_garrison.gml
Labels: PR: Fix

#481 fix: Disable annoying events
  scripts/scr_random_event/scr_random_event.gml
Labels: PR: Fix

#485 fix: Boarders experience out of range
  objects/obj_p_assra/Step_0.gml
Labels: PR: Fix

#486 fix: More debug and more fixes for garrisons
  scripts/scr_PlanetData/scr_PlanetData.gml
  scripts/scr_garrison/scr_garrison.gml
Labels: PR: Fix

#477 feat: Planets affect recruit corruption and it's gaussian random
  scripts/scr_recruit_data/scr_recruit_data.gml
Labels: PR: Feature

#493 chore: Update mac configs
  options/mac/options_mac.yy
Labels: PR: Chore

#502 ci: Edits to the pull request template
  .github/pull_request_template.md
Labels: PR: Docs, PR: CI

#500 feat: Centralise specialists stat requirements
  ChapterMaster.yyp
  objects/obj_controller/Alarm_5.gml
  objects/obj_controller/Create_0.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_load_controller/scr_load_controller.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_save_controller/scr_save_controller.gml
  scripts/scr_specialist_training/scr_specialist_training.gml
  scripts/scr_specialist_training/scr_specialist_training.yy
Labels: PR: Refactor, PR: Feature, PR: Major Coding

#501 fix: index error with roster causing raid/purge issues
  scripts/scr_roster/scr_roster.gml
Labels: PR: Fix

#498 fix: Refactor obj_bomb alarm 1 array length bug
  objects/obj_bomb_select/Alarm_1.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
  scripts/scr_player_ship_functions/scr_player_ship_functions.gml
Labels: PR: Fix

#497 fix: Crash from old ship array methods
  scripts/scr_ruins_reward/scr_ruins_reward.gml
Labels: PR: Fix

#512 feat: Fix and jsonify traits
  ChapterMaster.yyp
  datafiles/data/traits.json
  scripts/__init_global/__init_global.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_json_functions/scr_json_functions.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_unit_traits/scr_unit_traits.gml
Labels: PR: Refactor, PR: Fix, PR: Feature, PR: Major Coding, PR: JSON

#511 docs: Update README
  docs/README.md
Labels: PR: Docs
